

<opd-content (breakpointChanged)="breakpointChanged($event)"
       contentbackgroundcolor="#edeff2"
       headerbackgroundcolor="#327daa"
       sidemenubackgroundcolor="#364147"
       sidemenucolor="#ffffff"
       breakpoint-medium="767" 
       breakpoint-big="1023" 
       sidemenu-medium-width="57px"
       sidemenu-big-width="250px"
       header-hight="49px"
       action-button-height="28px"
       show-action-button="true"
       action-button-height="28px"
       action-button-background>
  <div slot="sidemenu">
  <div class="menu-content">
    menu
  </div>
  </div>
  <div slot="content">
    <div class="main-content">
    content <br><br>
   
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

      </div>
  </div>
</opd-content>


