

<opd-content (breakpointChanged)="breakpointChanged($event)"
       contentbackgroundcolor="#edeff2"
       headerbackgroundcolor="#327daa"
       sidemenubackgroundcolor="#364147"
       sidemenucolor="#ffffff"
       breakpoint-medium="767" 
       breakpoint-big="1023" 
       sidemenu-medium-width="57px"
       sidemenu-big-width="250px"
       header-hight="49px"
       action-button-height="28px"
       show-action-button="true"
       action-button-height="28px"
       action-button-background>
  <div slot="sidemenu">
  <div class="menu-content">
    <div *ngIf="isLg">
    <div class="sidemenumain">
      <div class="flex-child">
          <i class="fas fa-chart-area"></i>  <div class="menuitem"> Menu item 1</div>
      </div>
      <div class="flex-child flex-isActive">
          <i class="fas fa-bars"></i><div class="menuitem"> Menu item 2</div>
    </div>
      <div class="flex-child">
          <i class="fab fa-bluetooth"></i><div class="menuitem"> Menu item 3</div>
      </div>
      <div class="flex-child">
          <i class="fas fa-chart-bar"></i><div class="menuitem"> Menu item 4</div>
      </div>
    </div>
  </div>
  <div *ngIf="!isLg">
      <div class="sidemenumain">
          <div class="flex-child">
              <i class="fas fa-chart-area"></i>
          </div>
          <div class="flex-child flex-isActive">
              <i class="fas fa-bars"></i>
        </div>
          <div class="flex-child">
              <i class="fab fa-bluetooth"></i>
          </div>
          <div class="flex-child">
              <i class="fas fa-chart-bar"></i>
          </div>
        </div>
  </div>  

  </div>
  </div>
  <div slot="content">
    <div class="main-content">
      <div class="maincontent">
        <h3>How to use opd-content</h3>
     
        <p>opd-content is a web component you can use with any framework like react, angular, ionic…
            opd-content is a page frame with menu that has 2 breakpoints you can set yourself. The main content is scrollable and the menu has an event that listens to the browser width. It hides on less than the smallest breakpoint for mobile devices.</p>

           
           <br>
           Read the documentation on <a href="https://github.com/opdahlmann/opd-sidemenu-angular-demo" target="_BLANK">github</a>


           <br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
           <br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
           <br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
           <br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
           <br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
           <br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
      </div>
    </div>
  </div>
</opd-content>


